body {
    font-family: 'Nunito', sans-serif;
}

nav a {
    padding: .5rem;
}

li {
    list-style-type: none;
    border: 1px solid;
    border-radius: 5px;
    background: antiquewhite;
    padding: 10px;
    margin: 5px;
}

li:hover {
    background: #f74747;
}