body {
    font-family: 'Nunito', sans-serif;
}

nav a {
    padding: .5rem;
}

li {
    list-style-type: none;
    border: 1px solid;
    border-radius: 5px;
    background: antiquewhite;
    padding: 10px;
    margin: 5px;
}

li:hover {
    background: #f74747;
}

form {
    background: white;
    border: 1px solid #dddddd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000000f;
}

form div {
    margin: 10px;
}

form input {
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Nunito';
}

form label {
    display: inherit;
    font-size: .9rem;
    padding-bottom: 3px;
    color: #9d9d9d;
}

form button {
    border: 1px solid #ddd;
    padding: 10px 25px;
    font-size: 1.1rem;
    margin: 10px 0;
}